{% extends 'blog/base.html' %}

{% block content %}
<div class="detail-container">
    <div class="post">
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
    <h1>{{ post.title }}</h1>
    {% if post.image and post.image.name and post.image.name != 'intruder_image/default_error.png' %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image" onerror="this.remove();">
    {% endif %}
    <p>{{ post.text|linebreaksbr }}</p>
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    {% endif %}
    </div>
</div>
{% endblock %}